@charset 'utf-8';

.query-historial-versiones pre.query {
	display: none;
	font-size: 10px;
}
.lockscreen-container .lockscreen-box {
    width: 240px;
}
.lockscreen-container .lockscreen-box .lsb-form {
	width: 100%;
}
.lockscreen-container .alert {
	margin-top: 15px;
	padding: 4px;
}
.lockscreen-container .alert a {
	display: none;
}
.fila-filtro {
	margin-bottom: 20px;
}
.btn.btn-limpiar {
	padding: 1px 5px;
	line-height: normal;
	margin-left: 5px;
}
.x-navigation.x-navigation-custom > .xn-title{color: #FFD559;}
.date{display: inline-block;width: auto;}
.x-navigation .x-navigation-control{left: 0;}
.panel.panel-primary {border-top-color: #FFD559;}
.error-message{background-color: #B64645; color: #fff; font-size: 11px; font-weight: bold;padding: 5px;}
#ClienteAdminAddForm textarea{resize:none;height: 60px;}
#ClienteAdminEditForm textarea{resize:none;height: 60px;}
.calendar-box{min-height: 30px; display: block;width: 100%;cursor: pointer;position: relative;}
.calendar-box .modificar label {color: rgb(255, 255, 255);background-color: #5CAE10;word-wrap: break-word; width: 100%;padding: 5px 10px;border-radius: 3px;margin: 0;font-size: 1.2em; cursor: pointer;text-align: center;}
.calendario .semana{line-height: 30px;color: #A4A4A4;font-weight: bold;}
.calendario tr > td:first-child{background-color: #EAEAEA;border-color: #fff;width: 150px;max-width: 100%;}
.calendario tr > td{width: auto;max-width: 300px;}
#confirmar .modal-content{background-color: transparent;}
#confirmar .modal-body {background-color: #fff;}
#confirmar .modal-header {background: #539E1F;border:none;}
#confirmar .modal-title {color: #fff;}
.dataTables_length label, .dataTables_filter label {line-height: 30px;font-weight: bold;text-transform: uppercase;padding: 10px;background-color: #2AB2E1;color: #fff;}
.calendar-box:hover{background-color: #E3E3E3;
-webkit-transition: background-color .25s ease-out;
   -moz-transition: background-color .25s ease-out;
    -ms-transition: background-color .25s ease-out;
     -o-transition: background-color .25s ease-out;
        transition: background-color .25s ease-out;}
.calendario th{text-align: center;}
.float-button {position: relative;text-align: right;top: 10%;z-index: 100;padding: 10px 0 20px 0;}
.profile .profile-image img {
    width: 130px;
    border: 2px solid #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile .profile-image img:hover{
	opacity: 0.7;
}

#etiqueta label {
	color: rgb(255, 255, 255);
	background-color: #5CAE10;
	word-wrap: break-word;
	width: 100%;
	padding: 5px 10px;
	border-radius: 3px;
	margin: 0;
	font-size: 1.2em;
	cursor: pointer;
	text-align: center;
}
/*

	Media Query

*/

@media screen and (max-width: 768px){
	.dataTables_filter {width: 100%;}
	.dataTables_length label, .dataTables_filter label {width: 100%;}
	.dataTables_filter label input {width: 80%;}
}