@charset 'utf-8';

.query-historial-versiones pre.query {
	display: none;
	font-size: 10px;
}
.lockscreen-container .lockscreen-box {
    width: 240px;
}
.lockscreen-container .lockscreen-box .lsb-form {
	width: 100%;
}
.lockscreen-container .alert {
	margin-top: 15px;
	padding: 4px;
}
.lockscreen-container .alert a {
	display: none;
}
.fila-filtro {
	margin-bottom: 20px;
}
.btn.btn-limpiar {
	padding: 1px 5px;
	line-height: normal;
	margin-left: 5px;
}
.profile .profile-controls a.profile-control-left{top: 18px;}
.x-navigation.x-navigation-custom > .xn-title{color: #FFD559;}
.date{display: inline-block;width: auto;}
.x-navigation .x-navigation-control{left: 0;}
.panel.panel-primary {border-top-color: #FFD559;}
.error-message{background-color: #B64645; color: #fff; font-size: 11px; font-weight: bold;padding: 5px;}
#ClienteAdminAddForm textarea{resize:none;height: 60px;}
#ClienteAdminEditForm textarea{resize:none;height: 60px;}
.calendar-box{min-height: 18px; display: block;width: 100%;cursor: pointer;}
.calendar-box .modificar{color: rgb(100, 182, 12);}